{% extends 'principal.html' %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/fondo_estrella.css' %}">
<link rel="stylesheet" href="{% static 'css/registro.css' %}">
{% endblock %}


{% block contenido %}
<div class="container-index container-star">
    <div class="stars"></div>

        <div class="login-card">

            <div class="login-header">
                <h2 class="text-center">Restablecer contraseña</h2>
            </div>

            <div class="p-4">
    
            {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>Error:</strong>
                    <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <form method="post" class="password-reset-form">
                {% csrf_token %}
                
                <div class="password-requirements">
                    <h3>Tu contraseña debe:</h3>
                    <ul>
                        <li>Tener al menos 8 caracteres</li>
                        <li>Conener al menos un letra mayúscula</li>
                        <li>Contener al menos una letra minúscula</li>
                        <li>Incluir un dígito</li>
                        <li>Al menos un carácter especial(!@#$%^&*(),.?":{}|&lt;&gt;)</li>
                    </ul>
                </div>

                <div class="form-group mb-4">
                    <label for="{{ form.new_password1.id_for_label }}">Nueva contraseña</label>
                    {{ form.new_password1 }}
                </div>

                <div class="form-group mb-4">
                    <label for="{{ form.new_password2.id_for_label }}">Confirma tu nueva Contraseña</label>
                    {{ form.new_password2 }}
                </div>

                <button type="submit" class="btn btn-warning w-100 mb-3">Cambiar contraseña</button>
            </form>

        </div>

        </div>
    
</div>


{% endblock %}