{% extends 'principal.html' %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/fondo_estrella.css' %}">
<link rel="stylesheet" href="{% static 'css/registro.css' %}">
{% endblock %}


{% block contenido %}
<div class="container-index container-star">
    <div class="stars"></div>
     
                <div class="login-header login-card">
                    <h2 class="text-center">Reinicio de contraseña enviado</h2>
                    <p class="text-center">Te hemos enviado por correo electrónico las instrucciones para restablecer tu contraseña.</p>
                    <p class="text-center">Si no recibes un correo electrónico, asegúrate de haber introducido la dirección con la que te registraste.</p>
                </div>
       
    </div>
</div>
{% endblock %}







