{% extends 'principal.html' %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/fondo_estrella.css' %}">
<link rel="stylesheet" href="{% static 'css/registro.css' %}">
{% endblock %}


{% block contenido %}
<div class="container-index container-star">
    <div class="stars"></div>
     
                <div class="login-header login-card">
    <h2>¡Completado!</h2>
    <p>¡Tu contraseña se ha rstablecido con éxito!</p>
    <a href="{% url 'login_usuario' %}" class="login-link text-white">Entrar</a>
</div>
       
</div>
</div>
{% endblock %}