{% extends 'principal.html' %}

{% block contenido %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Canciones en la Playlist: {{ playlist.nombre }}</h2>
        <a href="{% url 'agregar_cancion_playlist' playlist_id=playlist.id %}" class="btn btn-primary">Agregar canción</a>
    </div>

    <ul class="list-group">
        {% for cancion in playlist.canciones.all %}
        <li class="list-group-item">
            {% include 'cancion/cancion.html' %}
        </li>
        {% empty %}
        <li class="list-group-item">No hay canciones en esta playlist.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
